<div class="row" id="user_info_content" style="visibility: hidden;">
    <div class="col-md-4">
        <div class="text-center mt-0">
            <img src="" id="img_profile" class="rounded-circle" width="120px;" height="120px;">
            <h5 class="list-group-item-heading text-center mb-2 mt-2" id="full_name"></h5>
            <h6 class="list-group-item-heading text-center card-subtitle text-muted blue darken-2" id="fonction"></h6>
        </div>
    </div>
    <div class="col-md-8">
        <div class="list-group">
            <a class="list-group-item" title="Nom Utilisateur"><i class="ft-user" style="color:#2dcee3; font-size:18px; padding-right:5px;"></i> <span class="text-muted" id="username"></span></a>
             <a class="list-group-item"> <i class="ft-mail" style="color:#2dcee3; font-size:18px; padding-right:5px;"></i><span class="text-muted" id="email"></span></a>
            <a class="list-group-item"><i class="ft-phone-call" style="color:#2dcee3; font-size:18px; padding-right:5px;"></i><span class="text-muted" id="mobile"></span></a>
            <a class="list-group-item" title="Groupe"> <i class="ft-users" style="color:#2dcee3; font-size:18px; padding-right:5px;"></i> <span class="text-muted" id="groupe"></span></a>
        </div>
    </div>
</div>