  <form method="post" id="insert_form">
    
            <div class="table-responsive">  
                <table class="table table-bordered" id="item_table">  
                 <tr>
                    <th>Nom produit</th>
                    <th>Quantité sortie</th>
                     {# <th>Quantité Restante</th> #}
                    <th><center><button type="button" name="add" class="btn btn-success  add">Ajouter</button></center></th>
                 </tr>  
                </table>  

             <div align="center">
                 <input type="submit" name="submit" class="btn btn-info" value="Insert" />
                 <div id="results"></div>

             </div>         
      

            </div>  
  </form>  
              
